<a href="https://colab.research.google.com/github/admivsn/world-cup-blackjack/blob/main/generate_picks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from itertools import combinations
from random import sample

In [2]:
# Unique teams from the fixtures (can't find a list)
df_fixtures = pd.read_csv("https://fixturedownload.com/download/fifa-world-cup-2022-UTC.csv")
df_fixtures = df_fixtures[df_fixtures["Round Number"] == "1"]
teams = set(df_fixtures["Home Team"]) | set(df_fixtures["Away Team"])

In [3]:
# List of players
players = ["Bob", "Fred"]

In [4]:
# Assign each player a random combination of 3 teams
picks = sample(list(combinations(teams, 3)), len(players))
players_picks = zip(players, picks)

In [5]:
# Convert to dataframe
df_players_picks = pd.DataFrame(players_picks)

In [6]:
df_players_picks

      0                            1
0   Bob  (Ghana, Costa Rica, Poland)
1  Fred    (Spain, Switzerland, USA)