<a href="https://colab.research.google.com/github/admivsn/world-cup-blackjack/blob/main/generate_picks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from itertools import combinations
from random import sample

In [2]:
# Unique teams from the fixtures (can't find a list)
df_fixtures = pd.read_csv("https://fixturedownload.com/download/fifa-world-cup-2022-UTC.csv")
df_fixtures = df_fixtures[df_fixtures["Round Number"] == "1"]
teams = set(df_fixtures["Home Team"]) | set(df_fixtures["Away Team"])

In [3]:
# List of players
players = [
    "Adam Ivison", 
    "Dan Wilson",
    "Ryan Lowes",
    "Anthony Chapman",
    "Grant Willis",
    "Jack Maddison",
    "Liam Robson",
    "Adam Lowes",
    "Cal Craig",
    "Liam Smith",
    "Paul Smith",
    "Ricky Wells",
    "Connor Sweeney",
    "Will Forrester",
    "Liam Murtha",
    "Sean Jackson",
    "Chris Royal",
    "Lee Carrick",
    "Martin Young",
    "Danielle Young",
    "Adam Carrick",
    "Georgia Wilson",
    "Claire Hodkinson",
    "Lee Mayne",
    "Helen Wilson",
  ]

In [4]:
# Assign each player a random combination of 3 teams
possible_picks = list(combinations(teams, 3))
picks = sample(possible_picks, len(players))
players_picks = zip(players, [sorted(p) for p in picks])

In [5]:
# Convert to dataframe
df_players_picks = pd.DataFrame(players_picks, columns=["name", "picks"])

In [6]:
df_players_picks

                name                            picks
0        Adam Ivison         [England, Iran, Uruguay]
1         Dan Wilson      [Croatia, Ecuador, Germany]
2         Ryan Lowes         [Denmark, Ghana, Mexico]
3    Anthony Chapman         [England, Mexico, Spain]
4       Grant Willis   [Denmark, Qatar, Saudi Arabia]
5      Jack Maddison        [Ecuador, Mexico, Serbia]
6        Liam Robson        [Ghana, Morocco, Senegal]
7         Adam Lowes    [Argentina, Cameroon, Serbia]
8          Cal Craig  [Morocco, Netherlands, Tunisia]
9         Liam Smith   [Netherlands, Serbia, Tunisia]
10        Paul Smith    [Cameroon, England, Portugal]
11       Ricky Wells            [Belgium, Spain, USA]
12    Connor Sweeney        [Morocco, Qatar, Senegal]
13    Will Forrester   [Denmark, Serbia, Switzerland]
14       Liam Murtha      [Cameroon, Mexico, Uruguay]
15      Sean Jackson    [Costa Rica, Portugal, Wales]
16       Chris Royal           [Croatia, Ghana, Iran]
17       Lee Carrick  [France, Netherlands, Portugal]
18      Martin Young       [Belgium, Canada, Senegal]
19    Danielle Young   [Canada, Senegal, Switzerland]
20      Adam Carrick   [Belgium, Costa Rica, Ecuador]
21    Georgia Wilson     [Australia, Belgium, Mexico]
22  Claire Hodkinson        [Belgium, England, Ghana]
23         Lee Mayne  [Ecuador, Germany, Netherlands]
24      Helen Wilson   [Costa Rica, Germany, Uruguay]

In [7]:
# Write the picks out to a file
df_players_picks.to_csv("df_players_picks.csv", index=False)

In [8]:
# Check that all the picks are unique
len(df_players_picks["picks"].drop_duplicates()) == len(df_players_picks.index)

True