In [1]:
import pandas as pd
import random

In [2]:
# Unique teams from the fixtures (can't find a list)
df_fixtures = pd.read_csv("https://fixturedownload.com/download/fifa-world-cup-2022-UTC.csv")
df_fixtures = df_fixtures[df_fixtures["Round Number"] == "1"]
teams = list(set(df_fixtures["Home Team"]) | set(df_fixtures["Away Team"]))

In [3]:
# List of players
players = ["Bob", "Fred"]

In [4]:
# Loop over each player and get a unique 3 teams
players_picks = {}
for p in players:
    duplicate = True
    while duplicate:
        picks = sorted(random.sample(teams, 3)) # Ensure the order doesn't matter
        if picks not in players_picks.values():
          players_picks[p] = picks
          duplicate = False

In [5]:
# Convert to dataframe
df_players_picks = pd.DataFrame.from_dict(players_picks, orient="index")

In [6]:
df_players_picks

            0             1        2
Bob   Ecuador  Saudi Arabia  Senegal
Fred  Ecuador       Morocco      USA